extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="form", method="post", action="/login")
    label(for='id') id
    input(type="text", id="id", name="id")
    label(for='password') password
    input(type="password", id="password", name="password")
    input(type="submit", name="", value="제출")