//
   Created with JetBrains WebStorm.
   User: pc
   Date: 13. 4. 9
   Time: 오후 6:39
   To change this template use File | Settings | File Templates.

doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
       // script(src='/routes/login.js')
    body

block content
    h1= title
    = username

    p 성공

