body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu {width:100%; overflow:hidden;}
.menu ul {text-align: left; padding:0; margin:0}
.menu li {display: inline; list-style:none; font-size:20px; text-transform:uppercase}
.menu li a {padding:13px 13px 13px 13px; color: #000000; border-right:#7c7c7a solid 1px; text-decoration:none;}
.menu li a:hover{color:#ff3334;}
.menu img {width: 120px;}

.sidemenu {width:100%; overflow:hidden;}
.sidemenu ul {text-align: left; padding:0; margin:0}
.sidemenu li {display: compact; list-style:none; font-size:20px;width:200px;text-transform:none}
.sidemenu li a {padding:10px 10px 10px 10px; color: #000000; width:150px; text-decoration:none;}
.sidemenu li a:hover{color:#ff3334;}


.aside{float: left;width: 250px;height: auto;border-right:#7c7c7a solid 1px;border-left:#7c7c7a solid 1px;}
.cont{float: left; width:750px;text-align:center;height: auto; border-right:#7c7c7a solid 1px;}