extends menu_layout

block content
    br
    h1(align="center")=title

    form(name="form", method="post",action="/web/developer_management/save")
        table
            tr
                th id
                td #{id}
            tr
                th password in
                td
                    input(type = "password", id='pwdin',size=131,name='pwdin')
            tr
                th password chk
                td
                    input(type = "password", id='pwdchk',size=131,name='pwdchk')
            tr
                th e-mail
                td
                    input(type = "mail", id='mail',name='mail',size=131,value='#{mail}')
        input(type='submit', name="",value="저장").myButton
