doctype 5
html
    head
        title BacaS
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(class='home')
        div(id='wrapper')
            div(id='header')
                a(href='/web/user_management')
                    img(id='logo',src='/images/bacas.png', width=250, height=80)
                ul(id='nav',class='sf-menu')
                    li
                        a(href='/web/user_management') 사용자 정보
                    li
                        a(href='/web/push_management') 알림
                    li
                        a(href='/web/location_management') 지역정보
                    li
                        a(href='/web/file_management') 파일
                    li
                        a(href='/web/rank_management') 랭킹
                    li
                        a(href='/web/datatree') DB
                    li
                        a(href='/web/developer_management') 정보 수정
                    li
                        a(href='/web/sdk') SDK
            div(id='main')
                div(id='content')
                    block content
            div(id='footer')
                div(id='bottom')
                    p Hansung university. Computer Engineering Department 2013 Projec 바스 team