//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 4. 30
   Time: 오후 4:13
   To change this template use File | Settings | File Templates.

extends layout

block content
    h1(align = 'center')= title
    p(align = 'center') Registe You ID

    form(name="form", method="post", action="/web/signup/chk")
        table
            tr
                th id
                td
                    input(type="text", id="id",size=130, name="id")
            tr
                th password
                td
                    input(type="password", id="password",size=130, name="password")
            tr
                th e-mail
                td
                    input(type="text", id="mail",size=130, name="mail")

        input(type="submit", name="", value="제출").myButton

