<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bacassample3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <!-- GCM을 사용하기 위한 코드 시작 -->
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.example.bacassample3.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.bacassample3.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM을 사용하기 위한 코드 끝 -->
     
    <!-- google map v2를 사용하기 위한 코드 시작 -->
    <permission
        android:name="com.example.bacassample3.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
 
    <uses-permission android:name="com.example.bacassample3.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- The following two permissions are not required to use     Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- google map v2를 사용하기 위한 코드 끝 -->
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- tab1 -->
        <activity android:name=".tab1.Tab1ActivityGroup"/>
        <activity android:name=".tab1.UserActivity" />
        
        <!-- tab2 -->
        <activity android:name=".tab2.Tab2ActivityGroup"/>
        <activity android:name=".tab2.LocationActivity" />
        
        <!-- tab3 -->
        <activity android:name=".tab3.Tab3ActivityGroup"/>
        <activity android:name=".tab3.SettingActivity" />
        
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" >
        </uses-library>
 
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBqHWsU10leJwIGN9eBFIWDhkzApqzMVP0" />
        
        <!-- gcm 리시버 -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.bacassample3" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.bacassample3.GCMIntentService" />
    </application>

</manifest>
